<div style="display: grid; grid-template-columns: auto auto; column-gap: 17px">
  <div class="form-group">
    <label for="brand">Brand</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="1"
      [ngModel]="currentProdContext.detailsMap.get('Brand')"
    />
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="2"
      [ngModel]="currentProdContext.detailsMap.get('Model')"
    />
  </div>
  <div class="form-group">
    <label for="generation">Generation</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="3"
      [ngModel]="currentProdContext.detailsMap.get('Generation')"
    />
  </div>
  <div class="form-group">
    <label for="memory">Memory Size</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="4"
      [ngModel]="currentProdContext.detailsMap.get('Memory Size')"
    />
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="5"
      [ngModel]="currentProdContext.detailsMap.get('Color')"
    />
  </div>
  <div class="form-group">
    <label for="mModel">M-Model</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="6"
      [ngModel]="currentProdContext.detailsMap.get('M-Model')"
    />
  </div>
  <div class="form-group">
    <label for="7">A-Model</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="7"
      [ngModel]="currentProdContext.detailsMap.get('A-Model')"
    />
  </div>
  <div class="form-group">
    <label for="8">Battery Health</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="8"
      [ngModel]="currentProdContext.detailsMap.get('Battery Health')"
    />
  </div>
  <div class="form-group">
    <label for="9">Battery Cycle Count</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="9"
      [ngModel]="currentProdContext.detailsMap.get('Battery Cycle Count')"
    />
  </div>
  <div class="form-group">
    <label for="10">IMEI</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="10"
      [ngModel]="currentProdContext.detailsMap.get('IMEI')"
    />
  </div>
  <div class="form-group">
    <label for="11">Erasure Result</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="11"
      [ngModel]="currentProdContext.detailsMap.get('Erasure Result')"
    />
  </div>
  <div class="form-group">
    <label for="12">Diagnostic Result</label>
    <input
      type="text"
      class="form-control"
      ngModel
      name="12"
      [ngModel]="currentProdContext.detailsMap.get('Diagnostic Result')"
    />
  </div>
</div>
