<ion-grid>
  <ion-row>
      <ion-col>Baby or Child Item</ion-col>
      <ion-col>Blankets, Pillows and Towels</ion-col>
      <ion-col>Bottles, Cups and Mugs</ion-col>
      <ion-col>Cases and Containers</ion-col>
      <ion-col>Cell Phone</ion-col>
      <ion-col>Clothing</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>Electronics</ion-col>
      <ion-col>Entertainment</ion-col>
      <ion-col>Eyewear</ion-col>
      <ion-col>Food and Beverage</ion-col>
      <ion-col>Footwear</ion-col>
      <ion-col>Headwear</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>Housewares</ion-col>
      <ion-col>IDs, Drivers Licenses, Credit Cards and Passports</ion-col>
      <ion-col>Jewelry</ion-col>
      <ion-col>Keys, Wallets and Other Personal Accessories</ion-col>
      <ion-col>Legoland Retail and Membership</ion-col>
      <ion-col>Luggage, Travel Equipment</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>Membership Cards and Tickets</ion-col>
      <ion-col>Money and Gift Cards</ion-col>
      <ion-col>Musical Instruments</ion-col>
      <ion-col>Non-Returnables</ion-col>
      <ion-col>Photos, Documents, Art, Books, etc.</ion-col>
      <ion-col>Prescription Drugs and Medical Equipment</ion-col>
  </ion-row>
  <ion-row>
      <ion-col>Religious Articles</ion-col>
      <ion-col>Souvenirs</ion-col>
      <ion-col>Sports Equipment</ion-col>
      <ion-col>Toiletries and Hair Products</ion-col>
      <ion-col>Toys and Pets</ion-col>
      <ion-col>Unique Item Not Listed</ion-col>
  </ion-row>
</ion-grid>
