<div class="form-group">
    <label for="brand">Brand</label>
    <input type="text" class="form-control" id="brand">
</div>
<div class="form-group">
    <label for="model">Model</label>
    <input type="text" class="form-control" id="model">
</div>
<div class="form-group">
    <label for="generation">Generation</label>
    <input type="text" class="form-control" id="generation">
</div>
<div class="form-group">
    <label for="memory">Memory Size</label>
    <input type="text" class="form-control" id="memory">
</div>
<div class="form-group">
    <label for="color">Color</label>
    <input type="text" class="form-control" id="color">
</div>
<div class="form-group">
    <label for="m-model">M-Model</label>
    <input type="text" class="form-control" id="m-model">
</div>
<div class="form-group">
    <label for="a-model">A-Model</label>
    <input type="text" class="form-control" id="a-model">
</div>
<div class="form-group">
    <label for="battery-health">Battery Health</label>
    <input type="text" class="form-control" id="battery-health">
</div>
<div class="form-group">
    <label for="cycles">Battery Cycle Count</label>
    <input type="text" class="form-control" id="cycles">
</div>
<div class="form-group">
    <label for="imei">IMEI</label>
    <input type="text" class="form-control" id="imei">
</div>
<div class="form-group">
    <label for="erasure">Erasure Result</label>
    <input type="text" class="form-control" id="erasure">
</div>
<div class="form-group">
    <label for="diagnostic">Diagnostic Result</label>
    <input type="text" class="form-control" id="diagnostic">
</div>
